<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @vocab.prefix %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @vocab.uri %>
</p>

<%= link_to "Edit", edit_vocab_path(@vocab) %> |
<%= link_to "Back", vocabs_path %>

<h2>Predicates</h2>
<table>
<% for predicate in @vocab.predicates %>
  <tr>
    <td><%= predicate.name %></td>
    <td><%= button_to "Edit", edit_vocab_predicate_path(@vocab, predicate), method: :get %></td>
    <td><%= button_to "Delete", vocab_predicate_path(@vocab, predicate), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= button_to "Add Predicate", new_vocab_predicate_path(@vocab), method: :get %>

<h2>Objects</h2>
<table>
<% for obj in @vocab.objs %>
  <tr>
    <td><%= obj.name %></td>
    <td><%= button_to "Edit", edit_vocab_obj_path(@vocab, obj), method: :get %></td>
    <td><%= button_to "Delete", vocab_obj_path(@vocab, obj), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= button_to "Add Predicate", new_vocab_obj_path(@vocab), method: :get %>
