<%= form_with(model: [@subject, statement], local: true) do |form| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
        <% statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>subject: <%= @subject.uri %></div>
  <%= form.hidden_field :subject_id, value: @subject.id %>

  <div class="field">
    <%= form.label :predicate_id %>
    <%= form.select(:predicate_id, Predicate.all.collect { |p| [p.to_s, p.id] }.sort) %>
  </div>

  <div class="field">
    <%= form.label :literal %>
    <%= form.text_field :literal %>
  </div>

  <div class="field">
    <%= form.label :resource_object_id %>
    <%= form.select(:resource_object_id, Subject.all.collect { |s| [s.uri, s.id] }.sort, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :obj_id %>
    <%= form.select(:obj_id, Obj.all.collect { |o| [o.to_s, o.id] }.sort, include_blank: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
