<%= form_with(model: [@vocab, obj], local: true) do |form| %>
  <% if obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</h2>

      <ul>
        <% obj.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>vocab: <%= @vocab.prefix %></div>
  <%= form.hidden_field :vocab_id, value: @vocab.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
