<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject.uri %>
</p>
<%= link_to "Edit", edit_subject_path(@subject) %> |
<%= link_to "Back", subjects_path %>

<h2>Statements</h2>
<table>
  <tr>
    <th>predicate</th>
    <th>object</th>
    <th colspan="2"></th>
  </tr>
<% for statement in @subject.statements %>
  <tr>
    <td><%= statement.predicate %></td>
    <td><%= format_object(statement.statement_object) %></td>
    <td><%= button_to "Edit", edit_subject_statement_path(@subject, statement), method: :get %></td>
    <td><%= button_to "Delete", subject_statement_path(@subject, statement), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= button_to "Add Statement", new_subject_statement_path(@subject), method: :get %>

